
.container{
    max-width: 120rem;
    margin: 8rem auto;
    background-color: var(--color-grey-light-2);
    box-shadow:  var(--shadow-dark);
    min-height: 90rem;
}

.header{
height: 7rem;
font-size: 1.4rem;
background-color: #fff;
border-bottom: var(--color-grey-light-2);
display: flex;
justify-content: space-between;
align-items: center;

}

.content{
    display: flex;
}

.sidebar{
background-color: var(--color-grey-dark-1);

//grow shrink basis
flex: 0 0 18%;
flex-direction: column;
justify-content: space-between;
}

.hotel-view{
    background-color: #fff;
    flex: 1 ; //it will grow as much as it can and it will occupy the remaining 82%
}