.heading-primary {
    color: $color-white;
    text-transform: uppercase;
    display: block;
  
    /* fixes the little shaking we get with animations*/
    backface-visibility: hidden;
    margin-bottom: 6rem;
  
    &--main {
      display: block;
      font-size: 6rem;
      font-weight: 400;
      letter-spacing: 3.5rem;
  
      animation: moveInLeft 1s ease-out;
    }
  
    &--sub {
      display: block;
      font-size: 2rem;
      font-weight: 400;
      letter-spacing: 1.7rem;
  
      animation: moveInRight 1s ease-out;
    }
  }

  body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color: #777;
    padding: 3rem;
  }